.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;
  color: $title-text-color;

  @media screen and (min-width: $tablet) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__first-part {
  color: $accent-color;
}

.logo__second-part {
  color: $primery-white-color;
}
.page-footer__logo {
  margin-bottom: 20px;
}
