$primery-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primery-white-color: #fff;
$secondary-bg-color: #f5f4fa;
$bg-hero-futter: #2f303a;
$complementary-color: #fff;
$hover-color: #188ce8;
$typical-time-function: cubic-bezier(0.4, 0, 0.2, 1);
